<app-dashboard></app-dashboard>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Company Name</th>
          <th scope="col">Concerned Site</th>
          <th scope="col">Concerned Local</th>
          <th scope="col">Equipment Addition</th>
          <th scope="col">Equipement Recovery</th>
          <th scope="col">Date Of Visit</th>
          <th scope="col">Visit Schedule</th>
          <th scope="col">Created At:</th>
          <th scope="col">State</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demand of demands; let i=index">
          <td>
            <div>{{ i+1 }}</div>
          </td>
          <td>
            <div>{{ demand.user.name }}</div>
          </td>
          <td>
            <div>{{ demand.user.companyName }}</div>
          </td>
          <td>
            <div>{{ demand.concernedSite }}</div>
          </td>
          <td>
            <div>{{ demand.concernedLocal }}</div>
          </td>
          <td>
            <div>{{ demand.equipmentAdd }}</div>
          </td>
          <td>
            <div>{{ demand.equipmentRecovery }}</div>
          </td>
          <td>
            <div class="inline-block me-5">From: {{ demand.visitDayStart | date: 'dd/MM/yyyy' }}</div>
            <div class="inline-block me-5">To: {{ demand.visitDayEnd | date: 'dd/MM/yyyy' }}</div>
          </td>
          <td>
            <div class="inline-block me-5">From: {{ demand.visitDateStart }}</div>
            <div class="inline-block me-5">To: {{ demand.visitDateEnd }}</div>
          </td>
          <td>
            <div>{{ demand.created_at | date: 'dd/MM/yyyy' }}</div>
          </td>
          <td class="flex-row">
            <ng-container *ngIf="demand.state">
              <div class="inline-block me-5">Accepted</div>
            </ng-container>
            <ng-container *ngIf="!demand.state">
              <div class="inline-block me-5">Refused</div>
            </ng-container>
            <!-- <div [routerLink]="" (click)="toRefuseForm(demand.id)" class="btn btn-danger">Refuse</div> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
