<app-dashboard></app-dashboard>
<div class="card my-5">
  <div class="card-header">
    <div class="form-group mb-2 inline">
      <input type="text" (input)="search($event.target.value,1)">
      <label class="switch" hidden>
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Role</th>
          <th scope="col">Company Name</th>
          <th scope="col">Email</th>
          <th scope="col">CIN</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of temp; let i = index;">
          <td>
            <div>{{ nbOfElements*currPage-nbOfElements + i+1 }}</div>
          </td>
          <td>
            <div>{{ customer.name }}</div>
          </td>
          <td>
            <div>{{ customer.role }}</div>
          </td>
          <td>
            <div>{{ customer.companyName }}</div>
          </td>
          <td>
            <div><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></div>
          </td>
          <td>{{ customer.cin }}</td>
          <td class="flex-row">
            <ng-container *ngIf="customer.email !== myEmail">
              <div [routerLink]="" (click)="modify(customer.id)" class="btn btn-warning me-2">Modify</div>
              <a [routerLink]="" (click)="del(customer)" class="btn btn-danger">Delete</a>
            </ng-container>
            <ng-container *ngIf="customer.email === myEmail">
              <div>Not Allowed</div>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer row">
    <div class="col-12 inline">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a (click)="goToPage(1)" class="btn btn-primary active" aria-current="page">1</a>
        <div *ngIf="tempPages>1">
          <a (click)="goToPage(i+2)" class="btn btn-primary"
            *ngFor="let item of [].constructor(tempPages-1); let i = index">{{i+2}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
